spring:
  application:
    name: notification-service

  datasource:
    url: ${DEV_DB_NOTIFICATION_URL:jdbc:h2:mem:notifications}
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      enable-auto-commit: false
    topics:
      notification: notification-events

dlq:
  max-retries: 5
  retry-interval: 300000

server:
  port: 8084

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicExtractor: TRACE
